{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
    <div class="container contiabo pt-4 pb-4 px-4">

        <h3 class='text-center mb-3'><strong>About Heart Disease</strong></h3>
        <br>

        <h5><strong>What is coronary artery disease?</strong></h5> Coronary artery disease (CAD) is the most common type of heart disease in the India. It is sometimes called coronary heart disease or ischemic heart disease.
        <br>For some people, the first sign of CAD is a heart attack. You and your health care team may be able to help reduce your risk for CAD.<br>
        <br>
        <h5><strong>What causes coronary artery disease?</strong></h5>
        CAD is caused by plaque buildup in the walls of the arteries that supply blood to the heart (called coronary arteries) and other parts of the body.<br>
        Plaque is made up of deposits of cholesterol and other substances in the artery. Plaque buildup causes the inside of the arteries to narrow over time, which can partially or totally block the blood flow. This process is called atherosclerosis.
        <br><br>
        <h5><strong>What are the symptoms of coronary artery disease?</strong></h5>
        Angina, or chest pain and discomfort, is the most common symptom of CAD. Angina can happen when too much plaque builds up inside arteries, causing them to narrow. Narrowed arteries can cause chest pain because they can block blood flow to your heart muscle and the rest of your body.
        <br>
        For many people, the first clue that they have CAD is a heart attack. Symptoms of heart attack include
        <p>
        <h6>1. Chest pain or discomfort (angina)</h6>
        <h6>2. Weakness, light-headedness, nausea (feeling sick to your stomach), or a cold sweat</h6>
        <h6>3. Pain or discomfort in the arms or shoulder</h6>
        <h6>4. Shortness of breath</h6>
        </p>
        <h5><strong> What is a heart attack? </strong></h5>
        A heart attack, also called a myocardial infarction, happens when <mark>a part of the heart muscle doesn’t get enough blood.</mark>
        <br>
        The more time that passes without treatment to restore blood flow, the greater the damage to the heart muscle.
        <br>
        Coronary artery disease (CAD) is the main cause of heart attack. A less common cause is a severe spasm, or sudden contraction, of a coronary artery that can stop blood flow to the heart muscle.
        <br>
        <br>
        <img class=' heart1 mb-3'src="{{url_for('static', filename='4.jpeg')}}" alt="" />
        <h5><strong>What are the symptoms of heart attack?</strong></h5>
        <p>The major symptoms of a heart attack are</p>
        <span><strong>1. Chest pain or discomfort.</strong> Most heart attacks involve discomfort in the center or left side of the chest that lasts for more than a few minutes or that goes away and comes back. The discomfort can feel like uncomfortable pressure, squeezing, fullness, or pain.</span>
        <br>
        <h6>2. Feeling weak, light-headed, or faint.</h6>
        <h6>3. or discomfort in the jaw, neck, or back.</h6>
        <h6>4. Pain or discomfort in one or both arms or shoulders.</h6>
        <h6>5. Shortness of breath. This often comes along with chest discomfort.</h6>
        <br>
        <h5><strong>What are the risks for heart disease?</strong></h5>
        <p>In 2013–2016 47% of men had hypertension, a major risk factor for heart disease and stroke. Also in 2020, it was responsible for the deaths of 314,186 women or about 1 in every 5 female deaths.</p>
        <p>Several other medical conditions and lifestyle choices can also put people at a higher risk for heart disease, including</p>
        <h6>1. Diabetes</h6>
        <h6>2. Overweight and obesity</h6>
        <h6>3. Unhealthy diet</h6>
        <h6>4. Physical inactivity</h6>
        <h6>5. Excessive alcohol use</h6>
        <h6>6. Drinking too much alcohol</h6>
        <h6>7. Stress and depression</h6>
        <br>
        <h5><strong>How to Reduce Your Risk of Developing Heart Disease</strong></h5>
        <ul>
            <li><mark>Know your blood pressure.</mark> Having uncontrolled blood pressure can lead to heart disease, stroke, kidney failure, and dementia. High blood pressure has no symptoms—so it’s important to check your blood pressure regularly and report elevated readings to your health care team.</li>
            <li>Talk to your doctor or health care team about whether you should be tested for diabetes. Having uncontrolled diabetes raises your risk of heart disease.</li>
            <li><mark> Quit smoking.</mark> If you don’t smoke, don’t start. If you do smoke, learn ways to quit.</li>
            <li>Talk to your doctor about checking your cholesterol and triglycerides.</li>
            <li>Get at least 150 minutes of physical activity each week. Even short “doses” of activity are good for your heart.</li>
            <li>Make <mark>healthy food.</mark> Having overweight or obesity raises your risk of heart disease.</li>
            <li>Limit how much alcohol you drink to one drink a day.</li>
            <li><mark>Manage stress levels</mark> by finding healthy ways to cope with stress. Learn more about coping with stress.</li>
        </ul>

    </div>
</div>



{% endblock %}