{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
    <div class="container contiabo pt-4 pb-4 px-4">

        <h3 class='text-center mb-3'><strong>Prevent Heart Disease</strong></h3><br>
        <p>By living a healthy lifestyle, you can help keep your blood pressure, cholesterol, and blood sugar levels normal and lower your risk for heart disease and heart attack.</p>
        <h5>Choose Healthy Foods and Drinks</h5>
        <p>Choose healthy meals and snacks to help prevent heart disease and its complications. Be sure to eat plenty of fresh fruits and vegetables and fewer processed foods.</p>
        <ul>
            <li>Eating lots of foods high in saturated fat and trans fat may contribute to heart disease.</li>
            <li>Eating foods high in fiber and low in saturated fats, trans fat, and cholesterol can help prevent high cholesterol.
                Limiting salt (sodium) in your diet can also lower your blood pressure.
                Limiting sugar in your diet can lower your blood sugar level to prevent or help control diabetes.</li>
                <li>Do not drink too much alcohol, which can raise your blood pressure. Men should have no more than 2 drinks per day, and women no more than 1 drink per day.</li>
        </ul>
        <h5>Keep a Healthy Weight</h5>
        <p>People with overweight or obesity have a higher risk for heart disease. Carrying extra weight can put extra stress on the heart and blood vessels.To find out if your weight is in a healthy range, you can calculate your Body Mass Index (BMI).</p>
        <h5>Get Regular Physical activity</h5>
        <p>Physical activity can help you maintain a healthy weight and lower your blood pressure, blood cholesterol, and blood sugar levels. For adults, the Surgeon General recommends 2 hours and 30 minutes of moderate-intensity exercise, like brisk walking or bicycling, every week. Children and adolescents should get 1 hour of physical activity every day.</p>
        <h5>Don't Smoke</h5>
        <p>Cigarette smoking greatly increases your risk for heart disease. If you don’t smoke, don’t start. If you do smoke, quitting will lower your risk for heart disease. Your doctor can suggest ways to help you quit.</p>
        <img class=' heart1 mb-3'src="{{url_for('static', filename='7.png')}}" alt="" />
        <br>
        <h5><strong>Take Charge of Your Medical Conditions</strong></h5><br>
        <h5>Check Your Cholesterol</h5>
        <p>Your health care team should test your blood levels of cholesterol at least once every 4 to 6 years. If you have already been diagnosed with high cholesterol or have a family history of the condition, you may need to have your cholesterol checked more often.<br> Talk with your health care team about this simple blood test. If you have high cholesterol, medicines and lifestyle changes can help reduce your risk for heart disease.</p>
        <h5>Control Your Blood Pressure</h5>
        <p>High blood pressure usually has no symptoms, so have it checked on a regular basis. Your health care team should measure your blood pressure at least once every 2 years if you have never had high blood pressure or other risk factors for heart disease.<br>
        If you have been diagnosed with high blood pressure, also called hypertension, your health care team will measure your blood pressure more often to make sure you have the condition under control. Talk with your health care team about how often you should check your blood pressure. You can check it at a doctor’s office, at a pharmacy, or at home. <br>
        If you have high blood pressure, your health care team might recommend some changes in your lifestyle, such as lowering the sodium in your diet; your doctor may also prescribe medicine to help lower your blood pressure.</p>
        <h5>Manage Your Diabetes</h5>
        <p>If you have diabetes, monitor your blood sugar levels carefully. Talk with your health care team about treatment options. Your doctor may recommend certain lifestyle changes to help keep your blood sugar under control. These actions will help reduce your risk for heart disease.</p>
        <h5>Take Your Medicines as Directed</h5>
        <p>If you take medicine to treat high blood cholesterol, high blood pressure, or diabetes, follow your doctor’s instructions carefully. Always ask questions if you don’t understand something. Never stop taking your medicine without first talking to your doctor, nurse, or pharmacist.</p>
        

    </div>
</div>



{% endblock %}